@page "/object/{id}"
@using DynObjectStore
@inject Registry registry

<strong>ID:</strong> @id <br />

<p>@CurObject.ToString()</p>

@code {
    [Parameter]
    public string? id { get; set; }
    public object CurObject = null;

    protected override async Task OnInitializedAsync()
    {
        CurObject = registry.GetObject(int.Parse(id));
    }
}