@page "/{id:int}/{subId:int?}"
@using DynObjectStore
@using System.Reflection
@using System.Text.Json
@using System.Xml.Serialization
@inject Registry registry

<strong>ID:</strong> @id <br />
<strong>SubId:</strong> @subId <br />

<p>@obj?.ToString()</p>

@code {
    [Parameter]
    public int id { get; set; }

    [Parameter]
    public int? subId { get; set; }

    public RootObject? root = null;
    public object? obj = null;

    protected override async Task OnInitializedAsync()
    {
        root = await registry.GetObject(id);
        obj = root?.GetSubObject(subId ?? 0);
    }
}