@page "/{id:int}/{subId:int?}"
@inject Registry registry

<p>@modified</p>

@if (obj != null)
{
    <ObjectDetail obj="obj" OnModify="OnModify"></ObjectDetail>
}

@code {
    [Parameter]
    public int id { get; set; }

    [Parameter]
    public int? subId { get; set; }


    private RootObject? root = null;
    private bool modified = false;
    private object? obj = null;

    protected override async Task OnInitializedAsync()
    {
        // get object
        root = await registry.GetObject(id);
        obj = root?.GetSubObject(subId ?? 0);
        if (obj == null) return;
    }

    private void OnModify()
    {
        @* modified = true; *@
        registry.SaveObject(root!);
    }
}