@inherits LayoutComponentBase
@inject SessionSettings sessionSettings

<script src="js/localStorageHelper.js"></script>
<div class="page">
    <main>
        <article class="content px-4">
            @Body
            @* <BSCore/> *@
        </article>
        <div class="fixed-bottom-right">
            <NewButton />
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await sessionSettings.InitializeAsync();
            StateHasChanged(); // update UI after user is loaded
        }
    }
}