@using System.Runtime.CompilerServices
<span @onclick="_OnClick">@Type.Name</span>
@* possibly add icon, ... *@

@code {
    [Parameter]
    public required Type Type { get; set; }
    [Parameter]
    public Action? OnClick { get; set; }

    private void _OnClick()
    {
        if (OnClick != null) {
            OnClick.Invoke();
        } else {
            //TODO open class view
        }
    }
}