<div class="mb-3">
    <BSLabel>@attr.Name</BSLabel>
    @switch (attr.Type)
    {
        case Type t when t == typeof(string) || t == typeof(char):
            <BSInput InputType="InputType.Text" @bind-Value="Value"></BSInput>
            break;
        case Type t when t == typeof(int) || t == typeof(short) || t == typeof(long) || t == typeof(ushort) || t == typeof(uint)
    || t == typeof(ulong):
            <BSInput InputType="InputType.Number" @bind-Value="Value"></BSInput>
            break;
        case Type t when t == typeof(float) || t == typeof(double) || t == typeof(decimal):
            <BSInput InputType="InputType.Number" @bind-Value="Value" Step="any"></BSInput>
            break;
        case Type t when t == typeof(bool):
            <BSInputCheckbox @bind-Value="Value"></BSInputCheckbox>
            break;
        default:
            <p>unknown</p>
            break;
    }
</div>

@code {
    [Parameter]
    public required object obj { get; set; } // a subobj

    [Parameter]
    public required AttrInfo attr { get; set; }

    [Parameter]
    public required Action OnModify { get; set; }

    private object? Value
    {
        get => attr.get(obj);
        set
        {
            Console.WriteLine("modified");
            OnModify();
            attr.set(obj,value);
        }
    }
}

