<div class="mb-3">
    <label class="form-label">@attr.Name</label>
    <ValueInput type=attr.Type @bind-Value="Value"></ValueInput>
</div>

@code {
    [Parameter]
    public required RootObject root { get; set; }

    [Parameter]
    public required object obj { get; set; }

    [Parameter]
    public required AttrInfo attr { get; set; }

    [Parameter]
    public required Action OnModify { get; set; }

    private void SetValue(object? val)
    {
        Value = val;
        OnModify();
    }

    private void NavigateToDetail()
    {
        if (Value == null) return;
        if (!attr.Type.IsPrimitive && !attr.Type.IsEnum) {
            Navigation.NavigateTo("/" + root.id + "/" + root.GetSubObjectId(Value), forceLoad: true);
        }
    }

    private object? Value
    {
        get => attr.get(obj);
        set
        {
            Console.WriteLine("modified");
            OnModify();
            attr.set(obj,value);
        }
    }
}

