@if (typeInfo == null)
{
    <p>Loading...</p>
    return;
}
<form>
@foreach (AttrInfo attr in typeInfo.fields)
{
    <InlineField root="root" attr="attr" OnModify="OnModify" obj="obj"></InlineField>
}
@foreach (MethodInfo method in typeInfo.methods)
{
    <InlineFunction markModified="OnModify" method="method" obj="obj"></InlineFunction>
}
</form>

@code {
    [Parameter]
    public required RootObject root { get; set; }

    [Parameter]
    public required object obj { get; set; }

    [Parameter]
    public required Action OnModify { get; set; }

    public TypeInf? typeInfo { get; set; }

    protected override void OnInitialized()
    {
        typeInfo = refService.getTypeInfo(obj);
    }
}
