@if (typeInfo == null)
{
    <p>Loading...</p>
    return;
}
<form>
@foreach (AttrInfo attr in typeInfo.fields)
{
    <div class="mb-3">
        <label class="form-label">@attr.Name</label>
        <ValueInput root="root" attr="attr" OnModify="OnModify" obj="obj"></ValueInput>
    </div>
}
@foreach (MethodInfo method in typeInfo.methods)
{
    <MethodForm markModified="OnModify" method="method" obj="obj"></MethodForm>
}
</form>

@code {
    [Parameter]
    public required RootObject root { get; set; }

    [Parameter]
    public required object obj { get; set; }

    [Parameter]
    public required Action OnModify { get; set; }

    public TypeInf? typeInfo { get; set; }

    protected override void OnInitialized()
    {
        typeInfo = refService.getTypeInfo(obj);
    }
}
